version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/infrastructure"
    schedule:
      interval: "weekly"
    groups:
      dependencies:
        patterns:
          - "*"
    allow:
      - dependency-name: "aws-cdk"
      - dependency-name: "aws-cdk-lib"